@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
html{
    color:aliceblue;
    font-size:16px;
    background-image:linear-gradient(hsla(0, 100%, 74%,0.7), hsla(0, 100%, 74%,0.7)),url(bg-intro-desktop.png);
    font-family:'Poppins',sans-serif;
}
.c{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:200px 100px 200px 100px;
    height:206px;
}
.d1{
    display:flex;
    flex-direction:column;
    text-align:left;
    width:450px;
    margin-right:50px;
}
.d11{
    font-weight:700;
    font-size:45px;
    line-height:0.9;
    margin-bottom:30px;
}
.d2{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:450px;
}
.d21{
    background-color:hsl(249, 10%, 26%);
    display:flex;
    margin-bottom:25px;
    width:450px;
    height:50px;
    align-items:center;
    justify-content:center;
    border-radius:5px;
    box-shadow:0px 5px hsla(0,100%,74%,0.9);
}
.d211{
    font-weight:600;
    margin-right:5px;
}
.d22{
    background-color:aliceblue;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width:450px;
    box-shadow:0px 5px hsla(0,100%,74%,0.9);
}
.d221{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width:450px;
    margin-top:30px;
}
#Name,
#Last,
#Email,
#Password{
    margin-bottom:15px;
    border-radius:3px;
}
button{
    width:400px;
    background-color:hsl(154, 59%, 51%);
    color:aliceblue;
    margin:15px 25px 15px 25px;
    border-radius:5px;
    width:450;
    height:45px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:600;
    border-color:hsl(154, 59%, 51%);
}
.d223{
    color:hsl(246, 25%, 77%);
    font-size:x-small;
    margin-bottom:30px;
    display:flex;
}
.d2231{
    font-weight:500;
}
.d2232{
    font-weight:600;
    color:hsl(0, 100%, 74%);
}

  
